*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
img,
svg,
video{
    max-width: 100%;
    height: unset;
    object-fit: cover;
}
body{
    height: 100000px;
}